img {
border: none;
}

body {
        font-family: Verdana, Arial, Helvetica, sans-serif;
        margin: 0;
        font-size: 80%;
        font-weight: bold;
        background: #ffffff;
        }
h1 {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:26px;
	margin:20px 15px;
	padding:0;
	}

hr {
	border:none;
	border-top:2px solid #CCCCCC;
	height:1px;
	margin-bottom:25px;
	}

.b_search {
    background: #69b35c;
    color: #ffffff;
    font-size: 12pt;
   }
  


#menu3 ul {
        list-style: none;
        margin: 0;
        padding: 0;
        }

#menu3 {
        width: 240px;
        border: 0px solid;
        margin: 10px;
	font-size:14px;
        }

#menu3 li a {
          height: 32px;
          voice-family: "\"}\"";
          voice-family: inherit;
          height: 24px;
        text-decoration: none;
        }

#menu3 li a:link, #menu3 li a:visited {
        color: #000000;
        display: block;
        background: url(menu9.gif);
        padding: 8px 0 0 10px;
        }

#menu3 li a:hover, #menu3 li #current, #menu3 li a:active {
        color: #000000;
        background: url(menu9.gif) 0 -32px;
        padding: 8px 0 0 10px;
        }



#menu{
	width:100%;
	margin:0;
	padding:0;	
}

#menu ul{
	list-style:none;
}

#menu li{
	list-style:none;
	display:block;
	float:left;
}

#menu li a{
	font-family:sans-serif;
	display:block;
	float:left;
	height:50px;
	color:#F4F4F4;
	font-size:18px;
	font-weight:bold;
	background:url(menu_left.png) no-repeat left;
	line-height:49px;
	padding:0 0 0 20px;
	text-decoration:none;
}

#menu li a span{
	display:block;
	float:left;
	background:url(menu_right.png) no-repeat right;
	height:50px;
	color:#F4F4F4;
	line-height:49px;
	padding:0 20px 0 0;
}

#menu li a:hover{
	display:block;
	float:left;					
	background:url(menu_left_h.png) no-repeat left;
	height:50px;
}

#menu li a:hover span{
	display:block;
	float:left;					
	background:url(menu_right_h.png) no-repeat right;
	color:#fff;
	height:50px;
}